bin
build.properties
META-INF/
plugin.properties
plugin.xml

model/*.ecore
model/*.ecore_diagram
model/*.gmfgen
model/*.gmfmap
model/*.png
model/*.genmodel
model/*.gmfgraph
model/*.gmftool
model/*.trace
.classpath
.project
.settings/
src/declare/
